<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Food Tracker</title>
  <meta name="description" content="FoodTrackerUi">
  <meta name="author" content="Mike Lee">

  <link rel="stylesheet" href="css/bootstrap.css">
</head>

<div ng-app="foodTracker">
  <div ng-controller="FoodTrackerCtrl">
    <div>
      <button ng-click="loadEndpoints()">Load Endpoints</button>
    </div>
    <div>
      <h3>List of available endpoints</h3>
      <table>
        <tbody>
          <tr ng-repeat="endpoint in endpoints">
            <td>
              <ul>
                <li>Name: {{endpoint.Name}}</li>
                <li>Version: {{endpoint.Version}}</li>
                <li>URL: {{endpoint.URL}}</li>
              </ul>
            </td>
            <td>
              <button ng-click="getDataFromEndpoint(endpoint)">Load Data</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h3>Requested data from the endpoint</h3>
      <table>
        <tbody>
          <tr ng-repeat="dataItem in endpointData">
            <td>
              Data: {{dataItem}}}
            </td>
          </tr>
        </tbody>
      </table>  
    </div>
  </div>
</div>
<body>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="scripts/vendor/bootstrap.js"></script>
  <script src="scripts/vendor/angular.js"></script>
  <script src="scripts/foodTracker.js"></script>
</body>
</html>